---
import PageLayout from "../../layouts/PageLayout.astro";
import Comment from "../../components/Comment.astro";
import { pageMeta } from "../../data/pages";
import { getAllPosts } from "../../lib/posts";

const allPosts = await getAllPosts();
const meta = pageMeta.about;
---

<PageLayout
    title={meta.title}
    description={meta.description}
    headerImg={meta.headerImg}
    pageUrl={meta.path}
    allPosts={allPosts}
>
    <div id="player1" class="aplayer" style="float: right;"></div>

    <!-- Language Selector (hydrated by client/features/about) -->
    <select id="langSelect"></select>
    <div id="kon-container"></div>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css"
        integrity="sha512-CIYsJUa3pr1eoXlZFroEI0mq0UIMUqNouNinjpCkSWo3Bx5NRlQ0OuC6DtEB/bDqUWnzXc1gs2X/g52l36N5iw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"
        integrity="sha512-RWosNnDNw8FxHibJqdFRySIswOUgYhFxnmYO3fp+BgCU7gfo4z0oS7mYFBvaa8qu+axY39BmQOrhW3Tp70XbaQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        is:inline></script>
    <script is:inline>
        var ap = new APlayer({
            element: document.getElementById("player1"),
            mini: false,
            autoplay: true,
            mutex: true,
            theme: "#e6d0b2",
            preload: "metadata",
            listMaxHeight: "365px",
            audio: {
                name: "あの日の夢",
                artist: "百石元",
                url: "/attach/bgm/ano-hi-no-yume.m4a",
                cover: "/attach/bgm/ano-hi-no-yume.jpg",
            },
        });
        ap.volume(0.75);
    </script>

    <Comment />
</PageLayout>
