---
import { Image } from "astro:assets";
import { site } from "../data/site";
import FeaturedTags from "./FeaturedTags.astro";
import Sns from "./Sns.astro";
import avatar from "../assets/avatar-tautcony.jpg";

interface Props {
    enable?: boolean;
    tagCounts: Map<string, number> | Record<string, number>;
    postTotal: number;
}

const { enable = true, tagCounts, postTotal } = Astro.props;
const friends = site.friends;
const shellClass = enable
    ? "col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 sidebar-container"
    : "col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 sidebar-container";
---

<div class={shellClass}>
    {
        enable && (
            <div align="right">
                <label class="visually-hidden" for="s">
                    Search
                </label>
                <form
                    method="get"
                    id="searchform"
                    action="//www.google.com/search"
                    target="_blank"
                    rel="noopener"
                >
                    <input type="text" class="field" name="q" id="s" placeholder="Search" />
                    <input type="hidden" name="as_sitesearch" value={site.url} />
                </form>
            </div>
        )
    }
    <FeaturedTags tagCounts={tagCounts} postTotal={postTotal} />
    {
        enable && (
            <section class="visible-md visible-lg">
                <hr />
                <h5>
                    <a href={`${site.baseurl}/about/`}>ABOUT ME</a>
                </h5>
                <div class="short-about">
                    {site.sidebarAvatar && (
                        <Image
                            src={avatar}
                            alt="Avatar"
                            width={200}
                            height={200}
                            densities={[1.5, 2]}
                            loading="eager"
                            fetchpriority="high"
                            decoding="async"
                        />
                    )}
                    {site.sidebarAboutDescription && <p>{site.sidebarAboutDescription}</p>}
                    <Sns center={false} />
                </div>
            </section>
        )
    }
    {
        friends.length > 0 && (
            <>
                <hr />
                <h5>FRIENDS</h5>
                <ul class="list-inline">
                    {friends.map((friend) => (
                        <li>
                            <a href={friend.href} target="_blank" rel="noopener">
                                {friend.title}
                            </a>
                        </li>
                    ))}
                </ul>
            </>
        )
    }
</div>
