---
interface Props {
    owner: string;
    repo: string;
    width: "wide" | "middle" | "narrow";
}

const { owner, repo, width } = Astro.props;
---

<a
    class={width}
    href={`https://github.com/${owner}/${repo}/releases`}
    target="_blank"
    rel="noopener"
    data-latest-release
    data-owner={owner}
    data-repo={repo}
    hidden
>
    <div class="icon icon-cloud-download"></div>
    {repo.replace(/-/g, "")}
    <br />
    version <span class="release-version" data-release-version>Loading...</span>
    <span data-release-date>Updated Loading...</span>
</a>
